body{
    background-image: url("images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

p{
    margin: 0px;
    padding: 0px;
}
.card{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 15px 30px rgba(56, 41, 224, 0.15);
    max-width: 310px;
}
.heading{
    padding: 2rem 0rem 0.25rem 0rem;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 900;
    margin: 0px;
    
}
.infoContainer{
    display: flex;
    justify-content: center;
}
.info{
    max-width: 240px;
    text-align: center;
    margin: 0px;
    padding: 1.25rem 0;
    color: hsl(224, 23%, 55%);
    
  
}

.price{
 color: hsl(224, 23%, 55%);
}

.plan{
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    gap: 1rem;
    margin: auto;
    padding: 1rem 1rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
   
}
.planName{
    font-weight: 700;
}


.planList{
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 0.25rem;
}

.change{
    margin-left: auto;
    text-decoration: underline;
    color: blue;
    font-size: 14px;
    font-weight: 700;
}

.change:hover{
    color:rgba(0, 0, 255, 0.4);
    text-decoration: none;
    cursor: pointer;
}
.options{
display: flex;
flex-flow: column;
justify-content: center;
gap: 1.25rem;
padding: 1rem 0rem;
}

.pay{
margin: auto;
background-color: hsl(245, 75%, 52%);
color: white;
width: 280px;
height: 40px;
border-radius: 10px;
border: 0px;
font-weight: 700;
font-size: 14px;
box-shadow: 0px 5px 20px rgba(56, 41, 224, 0.4);

}

.cancel{
    border: 0px;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    font-size: 14px;
    background-color: white;
    padding: 1.25rem 0rem;
  
}

.cancel:hover{
    color: black;
    cursor: pointer;
}


.pay:hover{
    cursor: pointer;
    background-color:rgba(56, 41, 224,0.7);
    transition: 0.3s;
}

.desktopImg{
    display: none;
}


@media (min-width: 500px) 
{
    .card{
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 15px 30px rgba(56, 41, 224, 0.15);
        max-width: none;
    }

    .mobileImg{
        display: none;
    }

    .desktopImg{
        display: inline;
    }
    .info, .plan{
        max-width: 300px;
  
    }

    .pay{
        width: 340px;
    }

    body{
        background-image: url("images/pattern-background-desktop.svg");
    }
    
}