body{
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    
}

img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

p{
    margin: 0px;
    padding: 0px;
}
.card{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 15px;
}
.heading{
    display: flex;
    justify-content: center;
    
}
.infoContainer{
    display: flex;
    justify-content: center;
}
.info{
    max-width: 300px;
    text-align: center;
    margin: 0px;
    padding: 1rem 0;
    
  
}
.plan{
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    gap: 1rem;
    margin: auto;
    padding: 1rem 1rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
   
}


.planList{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.change{
    margin-left: auto;
}
.options{
display: flex;
flex-flow: column;
justify-content: center;
gap: 2rem;
padding: 1rem 0rem;
}

.pay{
margin: auto;
background-color: hsl(245, 75%, 52%);
color: white;
width: 400px;
height: 40px;
border-radius: 10px;
border: 0px;
font-family: 'Red Hat Display', sans-serif;
font-weight: 700;
font-size: 14px

}

.cancel{
    border: 0px;
    color: black;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: white;
}

.pay:hover{
    cursor: pointer;
    background-color:rgba(56, 41, 224,0.7);
    transition: 0.3s;
}