body{
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
}

img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.card{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 15px;
}

.info{
    max-width: 200px;
    display: flex;
    justify-content: center;
}
.plan{
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}
.options{
display: flex;
flex-flow: column;
justify-content: center;
}

.pay{
    margin: auto;
background-color: hsl(245, 75%, 52%);
color: white;
width: 400px;
height: 40px;
border-radius: 10px;
border: 0px;
font-family: 'Red Hat Display', sans-serif;
font-weight: 700;
font-size: 14px

}

button:hover{
    cursor: pointer;
    background-color:rgba(56, 41, 224,0.7);
    transition: 0.3s;
}